div(ng-include='"components/navbar/navbar.html"')
include ../util.jade

.container
  .row
    .col-sm-12
      +blogFormMix({submit: 'edit_blog', submitText: 'Edit Post'})
      p Preview: 
      p(ng-bind-html="marked()")
  hr