div(ng-include='"components/navbar/navbar.html"')

.container
      h3
        a(ng-show='isAdmin()', href='/blog/new') new
      h1.page-header Posts:
      ul.list-group(ng-repeat='blog in blogs')
        li.list-group-item
         div(style='background-image: url({{blog.image}});')
              h2 
                a(href='/blog/{{blog._id}}') {{blog.title}}
              p(ng-show='isAdmin()')
                a(href='/blog/{{blog._id}}/edit') Edit
                = " | "
                a(ng-click='delete(blog._id)', href='/blog') delete