include ../util.jade
mixin blogFormMix(blogFieldData)
  +formMix(
    {submit: blogFieldData.submit, fields: [
      {name: "title", label: "Title"},
      {name: "body", label: "Body", tag: "textarea"},
    ], submitText: blogFieldData.submitText, obj: "blog"})